{# Пользовательское меню #}


{# Чекбокс #}
{# <label>
	<input class="form-check-input ms-3 p-2" type="checkbox"
#}{# onchange=checkedItem(); #}{#
value="{{ item.event }}">
</label> #}


<div id="usecase-counter-content" class="d-none">
    <ul class="leader list-group list-group-flush ">

        <li class="list-group-item d-flex justify-content-between bg-transparent border-0 text-truncate rounded-5">
            <a href="#"
               class="text-decoration-none text-dark w-100"
               title="На страницу товара WB"
               target="_wb"
            >
                Добавить заявку на склад
            </a>
        </li>

    </ul>
</div>



